.app {
  background-color: #dfdfdf;
  position: absolute;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 1380px;
  height: calc(100% - 38px);
  display: flex;
  border-radius: 3px;
  border: 1px solid #ccc; 
  box-shadow: 0 1px 1px #ededed;
}
